body { 
  font-family:Arial;
  background-color:#FAFAFF;
}

input {
  border-radius:5px;
  font-size:14pt;
  font-family: Arial;
}

textarea { 
  font-size:14pt;
  height:150px; 
  font-family: Arial;
}

select {
  font-size:14pt;
}

img {
  border:none; 
}

h1 { 
  color:#000; 
  font-size:28px; 
}

h2 { 
  color:#000; 
  font-size:18px; 
  font-weight: bold; 
  margin-bottom:10px;
  margin-top:5px; 
}

h3 { 
  color:#000; 
  font-size:12pt; 
}

h4 { 
  color:#000; 
  font-size:12pt; 
}

div.page { 
  width:100%;
  margin:0 auto; 
}

div.header { 
  position:relative; 
}

div.content { 
  width:100%; 
}

div.footer { 
  clear:both;
}

div.menu {
  height:50px; 
  text-align:left;
}

#login_mask {
  display: flex;
  flex-direction: column;   /* Elemente untereinander anordnen */
  align-items: center;
  justify-content: center;
  border:1px solid gray;
  border-radius: 15px;
  padding:10px;
  width: 100%;
  max-width: 350px;
  margin: auto;
  text-align: center;
}

#login_mask button {
  width: 300px;
  margin-top: 10px;
}

#login_mask input {
  width: 300px;
  text-align: center;
}

div#login_mask h1 { font-size:16pt; }
