div { font-size:14pt; }

div.add_entry { float:right; }
div.add_entry img { height:25px; }

section { margin-top:5px;float:left;width:30%;text-align:center;background-color:#CCC;border-radius:10px 10px 0px 10px;padding:5px; }
div.row { width:100%;border:1px solid gray;display:flex;border-radius:10px; }

div.col_trainer { padding:5px;width:12vw;text-align:center;border-right:1px solid gray; }
div.col_trainer img { width:8vw; }

div.col_player { padding:5px;width:30vw;border-right:1px solid gray; }

div.user_pic { float:left; }

div.col_text { padding:5px;width:60%;border-right:1px solid gray; }
div.col_delete { padding:5px;width:5%;display:flex;justify-content:center;align-items:center; }

#training_description { width:70vw;height:50vh; }

h1.delete_confirmation { font-size:5vh; }
button.abort_delete { background-color:green;margin:5px;font-size:5vh; }
button.delete { background-color:red;margin:5px;font-size:5vh; }

h1.show_players { clear:both;padding-top:10px; }
div.activated { border:3px solid purple;float:left;font-size:clamp(8pt,1vw,24pt);text-align:center;border-radius:10px; }
div.deactivated { border:3px solid white;float:left;font-size:clamp(8pt,1vw,24pt);text-align:center;border-radius:10px; }
div.activated img, div.deactivated img { width:10vw;max-width: 100px; } 

hr.end_line {clear:both; }

div.location { 
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; /* oder row */   
  margin-top:10px;
}