h2 { margin-top:0px; padding-top:0px; padding-bottom:0px; margin-bottom:0px}
h3 { padding-top:0px; margin-top:0px; }

div.add_entry { float:right; }
div.add_entry img { height:25px; }

section { margin-top:5px;float:left;width:30%;text-align:center;background-color:#CCC;border-radius:10px 10px 0px 10px;padding:5px; }
div.row { width:100%;border:1px solid gray;display:flex;border-radius:10px;}

div.col_details { padding:5px;width:12vw;text-align:center;border-right:1px solid gray; padding-top:50px;}
div.col_details img { width:100%;cursor:pointer; }

div.col_trainer { padding:5px;width:12vw;text-align:center;border-right:1px solid gray; }
div.col_trainer img { width:8vw;;cursor:pointer; }

div.col_player { padding:5px;width:30vw;text-align:center;border-right:1px solid gray; }
div.col_opponent { padding:5px;width:30vw;border-right:1px solid gray; }

div.user_pic { float:left; }

div.col_text { padding:5px;width:60%;border-right:1px solid gray; }
div.col_delete { padding:5px;width:5%;display:flex;justify-content:center;align-items:center; }

#training_description { width:70vw;height:5vh; }
#opponent_name { width:70vw; }

h1.delete_confirmation { font-size:5vh; }
button.abort_delete { background-color:green;margin:5px;font-size:5vh; }
button.delete { background-color:red;margin:5px;font-size:5vh; }

h1.show_players { clear:both;padding-top:10px; }

div.activated,
div.activated_pl_loc,
div.activated_plpa_loc,
div.activated_op_loc,
div.activated_oppa_loc
{ border:3px solid purple;float:left;font-size:clamp(8pt,3vw,16pt);text-align:center;border-radius:10px; }

div.deactivated,
div.deactivated_pl_loc,
div.deactivated_plpa_loc,
div.deactivated_op_loc,
div.deactivated_oppa_loc
{ border:3px solid white;float:left;font-size:clamp(8pt,3vw,16pt);text-align:center;border-radius:10px; }

div.activated img,
div.deactivated img,
div.activated_pl_loc img,
div.activated_plpa_loc img,
div.activated_op_loc img,
div.activated_oppa_loc img,
div.deactivated_pl_loc img,
div.deactivated_plpa_loc img,
div.deactivated_op_loc img,
div.deactivated_oppa_loc img
{ width:10vw;max-width: 150px; } 

div.activated_trainer, div.deactivated_trainer { border:3px solid purple;float:left;font-size:clamp(8pt,3vw,24pt);text-align:center;border-radius:10px; }
div.deactivated_trainer { border:3px solid white; }
div.activated_trainer img, div.deactivated_trainer img { width:10vw;max-width: 150px; } 


hr.end_line {clear:both; }
div.save { margin-bottom:100px; }

div.location { 
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row; /* oder row */   
  margin-top:10px;
}

div.opponent {
    width: 12vw;
    height: 12vw;
    max-width:150px;
    max-height:150px;
    background-color: #877af9; /* Kreisfarbe */
    border-radius: 50%; /* Macht die Form rund */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Textfarbe */
    font-size: clamp(8pt, 2vw, 24pt);
    font-weight: bold;
    text-align: center;
}

select {
  margin-bottom:5px;
}