h1 {
  width:100%;
}

div.court { vertical-align:middle; }

div.ranking { text-align: center; }

div.user_pic { 
  float:left;
  text-align:center; 
  font-size:10pt;
  width:100px;
  cursor: pointer;
}

div.user_pic img { 
  width:100%;
}

img#user_pic_large { 
  width:70vw; 
  max-width: 500px;

}

div#statistics, div#all_games {
  width:60vw;
}

div#statistics img {
  width:100%;
}

div#all_games img {
  width:5vw;
}

div#all_games td {
  text-align: center;
}
div#all_games h1 {
  margin-bottom:0px;
}


/* ****************** */
/* Teams */
/* Left side with the BHZ */
div.team_small {
  text-align: center;
  font-size: 10pt;
  margin:2px;
  padding:2px;
  float:left;
  border:1px solid gray;
  border-radius:1vw;
  white-space: nowrap;
}

div.team_small img {
  width:90px;
  height:auto;
}

td div.team_small {
  float:none;
}

/* Right side for team definition */
div.team { 
  float:left;
  width:220px;
  height:190px;
  border:1px solid gray;
  border-radius:1vw;
  padding:1vw;
  margin:0.5vw; 
}
div.teams-player-left { float:left; }
div.teams-player-right { float:right; }
div.team button {
  margin-top:10px;
  width:100%;
}
/* ****************** */


img.img_court { width:100%; }

/* Container für die Liste der Turniere */
.tournament-list {
  margin-top: 20px;
}

/* Container für jedes einzelne Turnier */
.tournament-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right:5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Details des Turniers */
.tournament-details {
  flex-grow: 1;
  margin-right: 20px;
}

.tournament-details h3 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 18px;
}

.tournament-details .date {
  font-size: 14px;
  color: #666;
}

/* Container für die Buttons */
.tournament-actions {
  display: flex;
  gap: 2px;
  height:100%;
}

span.score { font-size:10pt; }
div.podest img { height:60%; }

#right_content .court {
  flex: 0 0 calc(100% - 10px); /* zwei Spalten mit Abstand */
  box-sizing: border-box;
  text-align: center;
}

/* Tablets und größer */
@media screen and (min-width: 700px) {
  #right_content .court {
    flex: 0 0 calc(50% - 10px); /* zwei Spalten mit Abstand */
  }
  .tournament-actions {
    display: flex;
  }

}

@media screen and (min-width: 1800px) {
  #right_content .court {
    flex: 0 0 calc(33% - 10px); /* zwei Spalten mit Abstand */
  }
}