body {
    font-family: Arial, sans-serif;
    background: #f6f8fa;
}

h1 { margin-bottom: 5px; }

.sub {
    color: #666;
    margin-bottom: 25px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 15px;
}

.card {
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
    border: 1px solid #ccc;
}

.code {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.charts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.chartBox {
    width: 93%;
    aspect-ratio: 1 / 1;   /* 🔥 wichtig */
    
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chartBox canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}

.centerTimer {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: arial;
    font-size: 36pt;
    font-weight: bold;

    pointer-events: none;
}